.footer_outer_container {
  background-color: #111;
  /* color: rgb(84, 77, 77); */
  display: flex;
  justify-content: center;
}
.footer_inner_container {
  width: 60%;
}
.footer_icons {
  width: 18%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-bottom: 5px;
}
.footer_icons a {
  color: #fff

}
.footer_data {
  display: flex;
  justify-content: space-between;
}
.footer_data a {
  color: rgb(136, 129, 129);
}
.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  gap: 10px;
}
.footer_data ul li {
  cursor: pointer;
}
.footer_data a:hover {
  text-decoration: underline;
}
.service_code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  width: 15%;
  padding: 8px;
  margin: 30px 0 15px;
  cursor: pointer;
  white-space: nowrap;
}
.service_code a {
  color: rgb(136, 129, 129);
}
.copy_right {
  font-style: 12px;
  margin-bottom: 10px;
}
.copy_right a, 
.copy_right h3 {
  color: rgb(136, 129, 129);
}
.footer_outer_container a {
  text-decoration: none;
  /* color: rgb(84, 77, 77); */
}
.footer_data {
  /* width: 60%; */
}
.footer_col {
  /* width: 20%; */
  /* margin: 10%; */
}
@media screen and (max-width: 1024px) {
  .footer_inner_container {
    width: 67%;
    /* margin-top: 20px; */
  }  
  .footer_data {
    width: 100%;
  }
  .footer_data ul {
        display: flex;
        flex-direction: column !important;
        height: auto;
        padding-bottom: 10px;
    }
    .service_code {
        margin-top: 6px;
        padding: 0 50px;
    }
    .copy_right h3{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .footer_inner_container {
      width: 90%;
      /* margin-top: 20px; */
    }
    /* .footer_data ul li a{
        flex-direction: column !important;
    } */
    .service_code {
        margin-top: 10px;
        padding: 0 55px;
        /* overflow: hidden; */
    }
}