.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header_outer_container a {
  text-decoration: none;
  color: white;
}
.header_left ul li a {
  text-decoration: none;
  color: #fff;
}
.nav_black {
  background-color: rgb(20, 20, 20);
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_header {
  display: none;
}
.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.header_right {
  display: flex;
  align-items: center;
}
.header_right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
.header_right ul li {
  padding: 5px;
}
.search_box {
  position: relative;
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.search_box input {
  position: relative;
  width: 100%;
  padding: 5px 30px;
  outline: none;
  font-size: 1.1em;
  border-radius: 20px;
  background-color: gray;
}
.search_box:hover {
  width: 300px;
}
.search_box input::placeholder,
.search_box input::placeholder {
  color: transparent;
}
.search_box:hover input::placeholder,
.search_box:hover input {
  color: white;
}

.search_outline {
  position: absolute;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1064px) {
  .header_left ul {
    width: 100%;
    
  }
  .header_left ul li {
    padding: 10px;
    
  }
  .search_box {
    display: none;
  }

}
@media screen and (max-width: 768px) {
  .header_left ul li {
    display: none;
  }
  .header_right ul li:not(:nth-child(3)) {
    display: none;
  }
  .nav_header {
    display: block;
  }
  .nav_hide {
    display: none;
  }
  .browse_hide {
    display: flex;
  }
  #basic-nav-dropdown {
    color: #fff;
  }
  .nav_item {
    background-color: #111;
    color: gray;
  }
  .search_box {
    display: none;
  }
  .bg-body-1 {
    background-color: transparent !important;
  }
}
